server:
  port: 9197

security:
  jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION:604800000}

spring:
  application:
    name: LogLifts
  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: false

  datasource:
    url: jdbc:h2:mem:loglifts
    driver-class-name: org.h2.Driver
    username: sa
    password:

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    root: info
    org.hibernate.SQL: debug

